.user-statistics {
  .back-to-home-container {
    display: flex;
    justify-content: end;
    margin-bottom: -50px;

    .back-to-home {
      display: flex;
      align-items: center;
      user-select: none;
      cursor: pointer;
      margin-right: 50px;

      @media #{$mq-xlarge} {
        margin-right: 100px;
      }

      span {
        font-family: 'Roboto';
        color: var(--primary-text-color);
        margin-right: 10px;
        font-weight: 500;

        @media #{$mq-xlarge} {
          font-size: 20px;
        }
      }

      &:hover {
        span {
          color: #3080D0
        }
        svg {
          filter: invert(42%) sepia(85%) saturate(491%) hue-rotate(168deg) brightness(92%) contrast(88%);
        }
      }
    }
  }
}
