@mixin title {
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-text-color);
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 20px;

  @media #{$mq-xlarge} {
    font-size: 22px;
  }
}
